.details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 85vh;
  margin: 40px 0;
}

.details-header {
  text-align: center;
  margin-bottom: 30px;
}

.details-header h2 {
  font-size: 24px; /* Smaller font size */
  font-weight: 600;
  margin-bottom: 8px;
}

.details-header p {
  font-size: 16px; /* Smaller font size */
  color: #555;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-auto-rows: 1fr;
  grid-gap: 12px;
  justify-items: flex-start; /* Centers the cards horizontally */
  width: 100%;
  max-width: 900px;
  grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6"; /* Card 4 spans two columns, Card 5 fills the remaining space */
  margin: 0 auto;
}

/* Assign areas to individual cards */
.grid-container .details-card:nth-child(1) {
  grid-area: card1;
  background-color: #d9ffeb; /* Lighter green */
}
.grid-container .details-card:nth-child(2) {
  grid-area: card2;
  background-color: #ffd9d9; /* Lighter pink */
}
.grid-container .details-card:nth-child(3) {
  grid-area: card3;
  background-color: #fff7d1; /* Lighter yellow */
}
.grid-container .details-card:nth-child(4) {
  grid-area: card4;
  background-color: #e0e0ff; /* Lighter purple */
}
.grid-container .details-card:nth-child(5) {
  grid-area: card5;
  background-color: #d9edff; /* Lighter blue */
}

.details-card {
  background-color: #f8f8ff;
  border-radius: 10px;
  width: 300px;
  max-height: 200px;
  display: flex; /* Use Flexbox for layout */
  flex-direction: column; /* Stack content vertically */
  align-items: flex-start; /* Align content to the left */
  padding: 20px; /* Add padding for space inside the card */
  text-align: left; /* Ensure text is aligned to the left */
  box-shadow: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  outline: none !important;
  border: none !important;
}

.details-card img {
  width: 35px;
  height: 35px;
  margin-bottom: 20px;
  align-self: flex-start; /* Align the image to the left */
}

.details-card h4 {
  text-align: left;
  font-size: 18px;
  margin: 5px 0;
  font-weight: 500;
}

.details-card p {
  font-weight: lighter;
  font-size: 15px;
  color: #666;
}

/* Optional: Subtle box shadow instead of none */
.details-card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05); /* Very subtle shadow */
}

/* Hover Effect */
.details-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
