/* Ensuring the dropdown opens on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* Styling the dropdown */
.dropdown-menu {
  border-radius: 0;
  margin-top: 0; /* Aligns the dropdown right under the nav item */
  background-color: rgba(250, 250, 250, 0.9); /* Matches the glass effect */
  /* backdrop-filter: blur(10px); */
  webkit-backdrop-filter: blur(10px);
}

/* Styling the dropdown items */
.dropdown-item {
  color: #666;
  font-size: 15px;
  padding: 10px 20px;
}

.dropdown-item:hover {
  background-color: #eaeaea;
}
