.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: #d3d3d3;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Ensures the element is perfectly round */
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-right: 15px;
  flex-shrink: 0; /* Prevents the circle from resizing in flex containers */
}

.sidebar-item.active .circle {
  background-color: #6366f1;
  color: #fff;
}

.label {
  font-size: 16px;
  font-weight: normal;
  color: #333;
}

.sidebar-item.active .label {
  font-weight: medium;
}

.map-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
}
