.nutrition-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 两列布局 */
  gap: 20px; /* 调整卡片之间的间距 */
  padding: 20px 200px; /* 两侧留白，顶部和底部的间距适当 */
}

.nutrition-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 80%; /* 让卡片占满容器 */
  height: 500px;
  margin: 0; /* 确保卡片本身没有外边距 */
  text-align: center;
}



.nutrition-card-header {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.nutrition-type {
  font-size: 1.4rem;
  font-weight: bold;
  color: #2e2e2e;
}

.nutrition-value {
  font-size: 1.2rem;
  font-weight: bold;
  color: #6366F1;
}

.nutrition-card-body {
  padding: 15px;
}

.nutrition-description {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 10px;
}

.nutrition-equivalent {
  font-size: 1rem; /* 默认的字体大小 */
  font-weight: bold;
  color: #333; /* 默认颜色 */
  margin-bottom: 10px;
  text-align: left; /* 左对齐 */
  margin-left: 15px; /* 向左移动 */
}

.nutrition-equivalent span {
  display: block;
  color: #6366F1; /* 蓝色字体 */
  font-size: 1.5rem; /* 增大字体 */
  font-weight: 600; /* 设置较粗的字体 */
  text-align: left; /* 左对齐 */
}

.nutrition-image {
  width: 200px;
  height: auto;
  margin: 20px auto;
}

.nutrition-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.nav-button {
  margin-top: -100px;
  margin-left: 30px;
  margin-right: 30px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
