.input-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: "20px";
}

.input-bar-form {
  display: flex;
  align-items: center;
  padding: 8px;
  background: white;
  border: 1px solid #c9cbcc;
  height: "20px";
  border-radius: 35px;
  width: 100%;
  max-width: 600px;
}

.filters {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  gap: 10px;
}

.images-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  gap: 10px;
}

.icon-buttons {
  display: flex;
  align-items: center;
}

.icon-button {
  background-color: #6366f1;
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #cccccc;
}

.input-bar {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  background-color: transparent;
  box-shadow: none;
}

.search-button {
  background-color: #6366f1;
  border: none;
  padding: 8px 16px;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #575ad8;
}

.search-button:disabled {
  background-color: #a3a3f1;
  cursor: not-allowed;
}

.input-with-labels-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.input-with-labels {
  display: inline-block;
  margin-left: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.highlighted-label {
  color: purple;
  font-weight: bold;
}
