.input-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-bar-form {
  display: flex;
  align-items: center;
  padding: 8px;
  background: white;
  border: 1px solid #c9cbcc;
  height: "20px";
  border-radius: 35px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.filters {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 700px;
  gap: 10px;
}

.images-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 700px;
  gap: 10px;
}

/* Container for the icon buttons */
.icon-buttons {
  display: flex;
  align-items: center;
  position: relative; /* Required for the tooltip positioning */
}

/* Style for the upload button */
.icon-button {
  background-color: #6366f1;
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative; /* Ensure positioning for the tooltip */
}

/* Tooltip styling */
.icon-button::after {
  content: "Upload images of ingredients. Maximum 3 images allowed";
  position: absolute;
  bottom: 125%; /* Position the tooltip above the button */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Prevent mouse interactions with the tooltip */
  z-index: 1; /* Ensure it appears on top */
}

/* Show tooltip on hover */
.icon-button:hover::after {
  opacity: 1; /* Make the tooltip visible */
}

/* Hover state for the icon button */
.icon-button:hover {
  background-color: #575ad8;
}

/* Disabled state styling for the icon button */
.icon-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.input-bar {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  background-color: transparent;
  box-shadow: none;
}

.search-button {
  background-color: #6366f1;
  border: none;
  width: 120px;
  padding: 8px 16px;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
}

.search-button:hover {
  background-color: #575ad8;
}

.search-button:disabled {
  width: 120px;
  background-color: #a3a3f1;
  cursor: not-allowed;
  color: #fff;
}

.input-with-labels-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.input-with-labels {
  display: inline-block;
  margin-left: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.highlighted-label {
  color: purple;
  font-weight: bold;
}
